img.single_image-img.attachment-full {
    width: auto;
}
.column_container{
	align-content: center;
	align-content: center;
	text-align: center;
}
.static-page li{
	color: gray;
  font-family: "Hind",sans-serif;
  font-size: 14px;
}
.selected_color {
    border: 1px solid #000;
}
span.selected_size {
    border: 1px solid #000;
}
i.material-icons.favorite_border.dark {
    color: #fff;
}
.dropdown .sub-menu{
  min-width: 145px;
}
.cost span {
    text-decoration: line-through;
    color:grey;
}
.cart-img img {
    max-height: 220px;
}
.cart-bottom-tools .empty {
    margin-right: 10px;
}
.select-span {
    border: 1px solid #e6e6e6;
    padding: 12.5px 12px;
    margin-bottom: 24px;
    color: #000;
}
.margin-top-10{
  margin-top: 10px !important;
}
@media (max-width: 560px) {
.tabl-responsive{ overflow-x:scroll; }
.inner_page .table_cart, .inner_page .list_orders{ width:100%!important;}
.categories-carousal .tile-category img {margin: 0 40px 0; }
}
.btn.btn-gray.selected {
    background-color: #000;
    color: #fff;
}
.btn.btn-iconed.selected:hover {
    background-color: #e6e6e6;
    color: #000;
}
.preview-box .slick-track img, .slick-slide .preview-box img{
    max-width: 264px;
    max-height: 330px;
    min-width: 264px;
    min-height: 330px;
}
.pagination li.arrow.disable a {
    color: #000;
    background: #f5f5f5;
    opacity: 1;
    cursor: not-allowed;
}
.pagination li.arrow.active a {
    color: #fff;
    background: #000;
    padding: 15px 17.5px 12px 17.5px;
}
.blog.preview-box img {
    max-height: 237px;
}
h1.blog-head {
    font-size: 32px;
    line-height: 1.16;
    margin-top: 10px;
    margin-bottom: 12px;
}
.tile-blog .tile-meta .meta-top .likes-qty i{
    padding-right: 3px;
}
.tile-blog .tile-meta .meta-top .likes-qty i{
    float: right;
}
.select.order-sorting select {
    padding: 15px;
}